body {
	background-color: LightCyan;
	font-size: 16px;
	font-family: "Times New Roman";
	color: DarkBlue;
}

#myname {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

#email {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

}
h3 {
	font-size: 24px ;
	color: DarkBlue;
	font-weight: bold;
}
/*
p {
	border-style: dashed;
	margin-left: 10%;
	font-size: 8px;
	padding: 50px;
	background-color: green;
}
*/
.title {
	font-size: 28px;
	font-weight: bold;
}

.location {
	font-size: 20px;
	font-weight: normal;

}

.description {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
 
.date {
	font-size: 20px;
	font-weight: normal;
}
